<% if current_employee%>
  <%= render 'employee/navigation' %>
  <div class="sb-nav-fixed">
    <div id="layoutSidenav">
      <%= render 'employee/sidenav' %>
      <div id="layoutSidenav_content">
        <main>
          <%= render 'employee/card'%>
          <div class="container-fluid px-4">
            <div class="container">
              <%= render 'newForm' %>
            </div>
            <%= button_to "Back", menus_index_path, :method => :get, class:"rightButton" %>
          </div>
        </main>
      </div>
    </div>
  </div>
<% end %>
