<div class="container-fluid px-4">
            <h1 class="mt-4">Food Items</h1>
            <div class="card mb-4">
            </div>
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Food Items
                <%= button_to "Add New Food Item", food_items_new_path, :method => :get, class:"rightButton" %>
              </div>
              <div class="card-body">
                <table id="datatablesSimple">
                  <thead>
                    <tr>
                      <th>Item ID</th>
                      <th>Item Name</th>
                      <th>Item Category</th>
                      <th>Item Price</th>
                      <th>Discount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @menu.each do |menu| %>
                        <% menu.menu_items.each do |menu_items| %>
                          <% if menu_items.MenuItemable_type == "GroupItem" %>
                            <% menu_items.MenuItemable.food_items.each do |food_items| %>
                              <tr>
                                <td class="counterCell"></td>
                                <td><%= food_items.item_name %></td>
                                <td><%= menu_items.MenuItemable.groupItem_name %></td>
                                <td><%= food_items.item_price %></td>
                                <td><%= food_items.discount.disc_percent %>%</td>
                                <td><%= button_to "Update", edit_food_item_path(food_items) ,:method => :get %></td>
                                <td><%= button_to "Delete", food_item_path(food_items), :method => :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
</div>
