<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant name:</strong>
  <%= @restaurant.restaurant_name %>
</p>

<p>
  <strong>Restaurant contactno:</strong>
  <%= @restaurant.restaurant_contactNo %>
</p>

<p>
  <strong>Restaurant status:</strong>
  <%= @restaurant.restaurant_status %>
</p>

<p>
  <strong>Restaurant timings:</strong>
  <%= @restaurant.restaurant_timings %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
